*~
*.o
*.dwo
*.log
*.trs
*.aux
*.toc
src/nidhugg
src/nidhuggc
src/unittest
src/libnidhugg.a
doc/manual.pdf
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps
src/Makefile
src/Makefile.in
stamp-*
test-driver
