name: CI
on: [push, pull_request]
jobs:
  prebuilt_llvms:
    name: Test with prebuilt LLVM ${{ matrix.llvm }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - llvm: "15.0.6"
            ubuntu: 18
          - llvm: "14.0.0"
            ubuntu: 18
          - llvm: "13.0.0"
            ubuntu: 20
          - llvm: "12.0.0"
            ubuntu: 20
          - llvm: "11.0.0"
            ubuntu: 20
          - llvm: "10.0.0"
            ubuntu: 18
          - llvm: "9.0.0"
            ubuntu: 18
          - llvm: "8.0.0"
            ubuntu: 18
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Build Nidhugg
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          file: ci/Dockerfile.test${{ matrix.ubuntu }}
          build-args: LLVM_VERSION=${{ matrix.llvm }}
      - name: Run tests
        run: docker run --rm -t ${{ steps.build.outputs.digest }}
  debug_llvms:
    name: Test with custom-built LLVM ${{ matrix.llvm }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - llvm: "15.0.3"
            ubuntu: 22
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      # Required for docker layer caching
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Nidhugg
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          file: ci/Dockerfile.debug_test${{ matrix.ubuntu }}
          build-args: LLVM_VERSION=${{ matrix.llvm }}
          tags: nidhugg-debug-ci-llvm${{ matrix.llvm }}
          load: true
          # This build in particular is slow, so enable caching for this one.
          # We can't fit layer caches from all builds, so we only do the slow
          # ones.
          cache-from: type=gha,scope=debugllvm${{ matrix.llvm }}
          cache-to: type=gha,mode=max,scope=debugllvm${{ matrix.llvm }}
      - name: Run tests
        run: docker run --rm -t nidhugg-debug-ci-llvm${{ matrix.llvm }}
  docker_image:
    name: Test the standard docker file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Build Docker Image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          file: Dockerfile
      - name: Run a smoke test
        run: docker run --rm -t -v `pwd`:`pwd` -w `pwd` ${{ steps.build.outputs.digest }} nidhuggc -sc tests/smoke/C-tests/mutex_hard.c
  debug_docker:
    name: Test the debug docker file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      # Required for docker layer caching
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker Image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          file: Dockerfile.debug
          tags: nidhugg-debug
          load: true
          # This build in particular is slow, so enable caching for this one.
          # We can't fit layer caches from all builds, so we only do the slow
          # ones.
          cache-from: type=gha,scope=debugdockerfile
          cache-to: type=gha,mode=max,scope=debugdockerfile
      - name: Run a smoke test
        run: docker run --rm -t -v `pwd`:`pwd` -w `pwd` nidhugg-debug nidhuggc -sc tests/smoke/C-tests/mutex_hard.c
      - name: Run the unit tests
        run: docker run --rm -t nidhugg-debug nidhugg-unittest
