name: cpplint
on: [push, pull_request]
jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: pipx run cpplint --quiet --filter=-build/c++11,-build/header_guard,-build/include_subdir,-legal,-readability/casting,-readability/fn_size,-readability/todo,-runtime/explicit,-runtime/indentation_namespace,-runtime/int,-runtime/operator,-runtime/printf,-runtime/references,-whitespace/braces,-whitespace/comma,-whitespace/comments,-whitespace/indent,-whitespace/line_length,-whitespace/newline,-whitespace/parens --recursive src
